altgraph==0.16.1
attrs==19.3.0
auto-py-to-exe==2.6.5
Automat==20.2.0
beautifulsoup4==4.6.0
bottle==0.12.17
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2018.1.18
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cx-Freeze==6.0
cycler==0.10.0
decorator==4.4.2
Eel==0.10.4
et-xmlfile==1.0.1
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gTTS==1.2.2
gTTS-token==1.1.1
hyperlink==19.0.0
idna==2.6
imutils==0.5.3
incremental==17.5.0
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==3.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.18
numpy==1.14.2
opencv-python==4.1.1.26
openpyxl==2.6.3
pandas==0.23.0
parsel==1.5.2
pdfkit==0.6.1
pefile==2019.4.18
Pillow==5.0.0
prettytable==0.7.2
Protego==0.1.16
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.19
PyDispatcher==2.0.5
pygame==1.9.3
PyHamcrest==2.0.2
PyInstaller==3.5
pyOpenSSL==19.1.0
pyparsing==2.4.2
pypiwin32==223
python-dateutil==2.7.3
python-telegram-bot==12.8
pytz==2018.4
pywin32==223
pywin32-ctypes==0.2.0
queuelib==1.5.0
requests==2.18.4
scipy==1.3.1
Scrapy==2.0.0
service-identity==18.1.0
six==1.11.0
SpeechRecognition==3.8.1
telegram==0.0.1
tornado==6.0.4
Twisted==19.10.0
urllib3==1.22
w3lib==1.21.0
whichcraft==0.6.1
xlrd==1.2.0
XlsxWriter==1.2.0
zope.interface==4.7.2
